body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.option {
  text-decoration: none;
  color: #252525;
  font-weight: bold;
}

.options {
  height: 30px;
  font-size: 18px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

button.active {
  background: #3dcea8;
}

.active {
  font-weight: bold;
}

.submittable {
  background: #3dcea8;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 100px;
  border-radius: 5px;
  margin: 10px;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.question-info {
  margin: 10px;
  margin-left:50px;
  display: flex;
  flex-direction: column;
}

/* Hacky but less typing in the video */
.question-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.question-info > div > span:nth-child(2), .header {
  color: #969696;
  font-size: 16px;
}
.question-info > div > div {
  color: #969696;
}
.question-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.question-icons {
  display: flex;
  align-items: center;
}
.question-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.question-icon {
  font-size: 27px;
  color: #697784;
}
.question-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 50px;
}

.question-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

.centralized-option {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
} 

.centralized-option span { 
  background:#fff; 
  padding:0 10px; 
}

.results-header {
  font-weight: bold;
  font-size: 1.3rem;
  color: black !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

.results {
  padding: 10px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border: 1px solid grey;
  color: grey;
  text-align: center;
}

.answer {
  border: 2px solid #3dcea8;
}

.answer, .error {
  color: #3dcea8 !important;
  font-weight: bold;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
  margin-top: 1rem;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  margin-bottom: 0.5rem;
  height: 0.5rem;
}

.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #5867dd;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.m--bg-success {
  background-color: #34bfa3 !important;
}

.progress .progress-bar {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.progress.m-progress--sm .progress-bar {
  border-radius: 3px;
}